/* .red{
    background-color: red;
    
}

.yellow{
    background-color: chartreuse;
    position: fixed;
    top: 10px;
}

.blue{
    background-color: darkblue;
    position: relative;
    top: 5px;
    right: 10px;
    z-index: 15;
    

}

.gray{
    background-color: gray;
    position: absolute;
    z-index: 3;
    
}


.div{
    width: 200px;
    margin: 10% auto;
    height: 3000px;
} */




    